<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="processFilter" value="firefox" />
    <add key="wsListenPort" value="10009" />
    <add key="listenAny" value="true" />
    <add key="proxyPort" value="10249" />
    <add key="printBarrage" value="true" />
    <add key="printFilter" value="1,2,5" />
    <add key="usedProxy" value="false" />
    <add key="filterHostName" value="true" />
    <add key="hostNameFilter" value="" />
    <add key="roomIds" value="7293771842332953381,7293771842332953381" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>